table {
    width: 80%;
    margin-bottom: 2em;
}

.schedule caption {
    color: magenta;
}

.schedule {
    border-collapse: separate;
    border-spacing: 2px;
    background-image: linear-gradient(to bottom, magenta, purple);
}

.schedule th,
.schedule marquee {
    color: pink;
}

th,
.schedule td {
    border: 1px solid mediumslateblue;
    background-color: pink;
    color: mediumblue;
}

.odd-week {
    background-image: linear-gradient(to bottom, mediumslateblue, magenta);
}

.even-week {
    /* color: purple; */
    background-image: linear-gradient(to bottom, purple, magenta);
}

td {
    height: 1em;
}

caption {
    font-weight: bold;
}

marquee {
    font-weight: bold;
    background-image: linear-gradient(to bottom, purple, magenta);
}
